<div class="container p-4">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                        Agregar <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/links/add" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">DNI</label>
                        <input type="text" class="form-control" name="DNI">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombres</label>
                        <input type="text" class="form-control" name="Nombres">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Apellido Paterno</label>
                        <input type="text" class="form-control" name="ApellidoP">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Apellido Materno</label>
                        <input type="text" class="form-control" name="ApellidoM">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo</label>
                        <input type="text" class="form-control" name="correo">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Telefono</label>
                        <input type="tel" class="form-control" name="telefono">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">
                            Save
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <table id="mytable" class="display table" style="width:100%">
                        <thead>
                            <tr>
                                <th>DNI</th>
                                <th>Nombres</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each personas}}
                                <tr>
                                    <td> {{DNI}} </td>
                                    <td> {{Nombres}} </td>
                                    <td> {{ApellidoP}} </td>
                                    <td> {{ApellidoM}} </td>
                                    <td> {{correo}} </td>
                                    <td> {{telefono}} </td>
                                    <td> 
                                        <a href="/links/edit/{{idpersonas}}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="/links/delete/{{idpersonas}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>DNI</th>
                                <th>Nombres</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>