<div class="container p-4">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                        Agregar <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/links/add" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">DNI</label>
                        <input type="text" class="form-control" name="DNI" required pattern="[0-9]{8}"
                            placeholder="El DNI debe de conter 8 digitos">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombres</label>
                        <input type="text" class="form-control" name="Nombres" required placeholder="Nombres">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Apellido Paterno</label>
                        <input type="text" class="form-control" name="ApellidoP" required
                            placeholder="Apellido Paterno">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Apellido Materno</label>
                        <input type="text" class="form-control" name="ApellidoM" required
                            placeholder="Apellido Materno">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Dirección</label>
                        <input type="text" class="form-control" name="direccion" required
                            placeholder="Direccion">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo</label>
                        <input type="email" class="form-control" name="correo" required
                            placeholder="Ejemplo: ejem@ejem.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Telefono</label>
                        <input type="tel" class="form-control" name="telefono" required pattern="[0-9]{9}"
                            placeholder="Ejemplo: 999999999">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">
                            Guardar
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="mytable" class="display table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre Servicio</th>
                                    <th>Descripción</th>
                                    <th>Precio C/U</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each servis}}
                                <tr>
                                    <td> {{nom_ser}} </td>
                                    <td> {{precio}} </td>
                                    <td> {{descripcion}} </td>
                                    <td>
                                        <a href="/links/edit/{{idservicio}}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="/links/delete/{{idservicio}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombre Servicio</th>
                                    <th>Descripción</th>
                                    <th>Precio C/U</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
